<% provide(:title, @user.name) %>

<style>
      table {
        border-collapse: collapse;
        margin: 0;
        width: 100%;
      }
      td, th {
        padding: 1em;
        text-align: center;
      }
</style>

<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h3>
        <%= @user.name %>
      </h3>
      <p>
        <br/>
        You have played <%= played_games(@user).length %> games and won <%= win_games(@user).length %> of them, <%= instant_games(@user).length %> as an instant winner and <%= whoop_games(@user).length%> as a whoop winner. 
      </p>
    </section>
  </aside>

<table class="games">

<thead>
<tr>
  <th>Game</th>
  <th>Date</th>
  <th>Status</th>
  <th>Results</th>
  <th>Play Now?</th>
  <th>More Info</th>
</tr>
</thead>

<tbody>

<% all_games(@user).each do |gu| %>
<tr>
<% game = gu.game %>
  <td><%= game.game_name%></td>
  <td><%= game.date%></td>
  <td><%= get_state(game)%></td>
  <td><%= check_winner(game, current_user)%></td>
  <td><% if game.ongoing? %>
  <%=link_to '<button type="button">Play!</button>'.html_safe, user_game_play_path(current_user, game) %>
  <% elsif game.upcoming? %> 
    Wait ..
  <% else %>
  <%=link_to '<button type="button">Check play history</button>'.html_safe, user_game_play_path(current_user, game) %>

  <% end %>
  </td>
  <td><%=link_to "More about #{game.game_name}", game_path(game)%></td> 
</tr>
<% end %>

</tbody>
</table>
</div>