= content_for(:title, @user.name)
%br/
.row
  %aside.col-md-12.col-md-offset-0
    %section.user-info
      %h3= @user.name
      %p
        %br/
        =link_to "Current Games", games_path
        %br/
        %br/
        You have played 
        =num_played_games(@user)
        - if num_played_games(@user) == 1
          game.
        - else
          games.
        %br/
        You are playing 
        =num_playing_games(@user) 
        - if num_playing_games(@user) == 1
          game.
        - else
          games.
        %br/
        You won
        =win_games(@user).length 
        of them, 
        =instant_games(@user).length 
        as an instant winner and 
        =whoop_games(@user).length 
        as a whoop winner.
.row
  .col-md-10.col-md-offset-1        
    .panel.panel-default
      .panel-heading
        %h3 Play History
      .panel-body
        %table.table.table-hover#game-history
          %thead
            %tr
              %th Game  
              %th Date      
              %th Status
              %th #Gamers
              %th Results
              %th #Whoop Cards
              %th Play Now?
              %th More Info
          %tbody
            - all_games(@user).each do |gu|
            %tr
            - game = gu.game
              %td= game.game_name
              %td= game.date
              %td= get_state(game)
              %td= game.game_user_ids.length
              %td= check_winner(game, current_user)
              %td= check_num_whoop_cards(game, current_user)
              %td 
                - if game.ongoing?
                  =link_to 'Play!'.html_safe, user_game_play_path(current_user, game), class: "btn btn-primary maroon"
                - elsif game.upcoming?
                  Wait ..
                - else
                  =link_to 'Check play history'.html_safe, user_game_play_path(current_user, game), class: "btn btn-primary maroon"
              %td= link_to "More about", game_path(game), class: "btn btn-primary maroon"