
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        --game info--
        <br/>
        <br>
      </h1>
<div id-"card_container" style="width:100%;height;50%;">
      <div class="btn-group" role="group" aria-label="Block1" style="width:100%;font-size:12px">
        <button type="button" class="btn btn-default <%= states[0] ? "bingotrue" : "bingofalse" %>" id="cardstyle"><%= plays[0] %></button>
        <button type="button" class="btn btn-default <%= states[1] ? "bingotrue" : "bingofalse" %>" id="cardstyle"><%= plays[1] %></button>
        <button type="button" class="btn btn-default <%= states[2] ? "bingotrue" : "bingofalse" %> " id="cardstyle"><%= plays[2] %></button>
      </div>

      <div class="btn-group" role="group" aria-label="Block2" style="width:100%;">
        <button type="button" class="btn btn-default <%= states[3] ? "bingotrue" : "bingofalse" %>" id="cardstyle"><%= plays[3] %></button>
        <button type="button" class="btn btn-default <%= states[4] ? "bingotrue" : "bingofalse" %> " id="cardstyle"><%= plays[4] %></button>
        <button type="button" class="btn btn-default <%= states[5] ? "bingotrue" : "bingofalse" %> " id="cardstyle"><%= plays[5] %></button>
      </div>

    <div class="btn-group" role="group" aria-label="Block3" style="width:100%;">
      <button type="button" class="btn btn-default <%= states[6] ? "bingotrue" : "bingofalse" %> " id="cardstyle"><%= plays[6] %></button>
      <button type="button" class="btn btn-default <%= states[7] ? "bingotrue" : "bingofalse" %> " id="cardstyle"><%= plays[7] %></button>
      <button type="button" class="btn btn-default <%= states[8] ? "bingotrue" : "bingofalse" %> " id="cardstyle"><%= plays[8] %></button>
    </div>
  </div>

  <td>
    <%= link_to '<button type="button">Do I Win?</button>'.html_safe, check_win_path() %>
  </td>

  </section>
  </aside>
</div>
