
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        BINGO
        <br/>
        <br>
      </h1>
<div id-"card_container" style="width:100%;height;50%;">
      <div class="btn-group" role="group" aria-label="Block1" style="width:100%;font-size:12px">
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play1 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play2 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play3 %></button>
      </div>
    
      <div class="btn-group" role="group" aria-label="Block2" style="width:100%;">
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play4 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play5 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play6 %></button>
      </div>

    <div class="btn-group" role="group" aria-label="Block3" style="width:100%;">
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play7 %></button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play8 %></button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="cardstyle"><%= play9 %></button>
    </div>
  </div>
     
   
  </section>
  </aside>
</div>