
        <div>
          <h1>
            --game info--
            <br/>
          
          </h1>
        </div>
        <div id="card_container">
          <div class="btn-group" role="group" aria-label="Block1" style="width:100%;font-size:12px">
            <button type="button" class="btn btn-default <%= states[0] ? "bingotrue" : "bingofalse" %>" id="cardstyle1" onclick="activebuttonCSS1()"><%= plays[0] %></button>
            <button type="button" class="btn btn-default <%= states[1] ? "bingotrue" : "bingofalse" %>" id="cardstyle2" onclick="activebuttonCSS2()"><%= plays[1] %></button>
            <button type="button" class="btn btn-default <%= states[2] ? "bingotrue" : "bingofalse" %>" id="cardstyle3" onclick="activebuttonCSS3()"><%= plays[2] %></button>
          </div>
      
          <div class="btn-group" role="group" aria-label="Block2" style="width:100%;">
            <button type="button" class="btn btn-default <%= states[3] ? "bingotrue" : "bingofalse" %>" id="cardstyle4" onclick="activebuttonCSS4()"><%= plays[3] %></button>
            <button type="button" class="btn btn-default <%= states[4] ? "bingotrue" : "bingofalse" %>" id="cardstyle5" onclick="activebuttonCSS5()"><%= plays[4] %></button>
            <button type="button" class="btn btn-default <%= states[5] ? "bingotrue" : "bingofalse" %>" id="cardstyle6" onclick="activebuttonCSS6()"><%= plays[5] %></button>
          </div>

          <div class="btn-group" role="group" aria-label="Block3" style="width:100%;">
            <button type="button" class="btn btn-default <%= states[6] ? "bingotrue" : "bingofalse" %>" id="cardstyle7" onclick="activebuttonCSS7()"><%= plays[6] %></button>
            <button type="button" class="btn btn-default <%= states[7] ? "bingotrue" : "bingofalse" %>" id="cardstyle8" onclick="activebuttonCSS8()"><%= plays[7] %></button>
            <button type="button" class="btn btn-default <%= states[8] ? "bingotrue" : "bingofalse" %>" id="cardstyle9" onclick="activebuttonCSS9()"><%= plays[8] %></button>
          </div>
        
        </div>

 