
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        BINGO
        <br/>
        <br>
      </h1>
<div id-"card_container" style="width:50%;height;50%;">
      <div class="btn-group" role="group" aria-label="Block1" style="width:100%;">
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
        color: #800000; width:30%;height:100px;"><%= play1 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
        color: #800000;width:30%;height:100px;"><%= play2 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
        color: #800000;width:30%;height:100px;"><%= play3 %></button>
      </div>
    
      <div class="btn-group" role="group" aria-label="Block2" style="width:100%;">
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
        color: #800000;width:30%;height:100px;"><%= play4 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
        color: #800000;width:30%;height:100px;"><%= play5 %></button>
        <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
        color: #800000;width:30%;height:100px;"><%= play6 %></button>
      </div>

    <div class="btn-group" role="group" aria-label="Block3" style="width:100%;">
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;width:30%;height:100px;"><%= play7 %></button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;width:30%;height:100px;"><%= play8 %></button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;width:30%;height:100px;"><%= play9 %></button>
    </div>
  </div>
     
   
  </section>
  </aside>
</div>