<% provide(:title, "Game Statistics") %>
<h1>Game Statistics</h1>

<table border=0 width=100%>
	<tr bgcolor=#c0c0c0><td><center>&nbsp;
	<h3><font face=verdana>Overall Team Statistics</font></h3>
&nbsp;</center></td>
	</tr>
</table>
<% if !@current_game.nil? %>

<center>
<br>
<table border=0 cellspacing=0 cellpadding=2>
<tr bgcolor="#800000">
<td align=left  bgcolor="#800000"><font face=verdana size=1 color="#ffffff"><b>TEAM STATISTICS&nbsp;</b></td>
<td align=center  bgcolor="#800000"><font face=verdana size=1 color="#ffffff"><b><%= @current_game.hometeam%>&nbsp;</b></td>
<td align=center  bgcolor="#800000"><font face=verdana size=1 color="#ffffff"><b><%= @current_game.visteam%>&nbsp;</b></td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>SCORING</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">287&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">449&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Points Per Game&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">23.9&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">37.4&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Points Off Turnovers&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">30&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">89&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>FIRST DOWNS</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_no", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_no", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Rushing&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_rush", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_rush", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Passing&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_pass", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_pass", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Penalty&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_penalty", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("firstdowns_penalty", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>RUSHING YARDAGE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_yds", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Yards gained rushing&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_gain", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_gain", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Yards lost rushing&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_loss", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_loss", true).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Rushing Attempts&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_att", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_att", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Rush&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">4.4&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">6.6&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Game&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">171.4&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">251.0&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  TDs Rushing&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_td", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("rush_td", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>PASSING YARDAGE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("pass_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("pass_yds", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Comp-Att-Int&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("pass_comp", true).to_i%>-<%=get_stats("pass_att", true).to_i%>-<%=get_stats("pass_int", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("pass_comp", false).to_i%>-<%=get_stats("pass_att", false).to_i%>-<%=get_stats("pass_int", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Pass&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">7.0&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">9.5&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Catch&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">12.0&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">13.1&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Game&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">206.8&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">238.5&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  TDs Passing&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("pass_td", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("pass_td", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>TOTAL OFFENSE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=@home_totals.totoff_yards %>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=@vis_totals.totoff_yards %>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Total Plays&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=@home_totals.totoff_plays %>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=@vis_totals.totoff_plays %>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<!-- <td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Play&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">5.6&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">7.7&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Game&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">378.2&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">489.5&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>KICK RETURNS: #-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>PUNT RETURNS: #-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("punt_no", true).to_i%>-<%=get_stats("punt_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("punt_no", true).to_i%>-<%=get_stats("punt_yds", true).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>INT RETURNS: #-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">6-46&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">6-96&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>KICK RETURN AVERAGE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">20.4&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">19.5&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>PUNT RETURN AVERAGE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">17.6&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">8.6&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>INT RETURN AVERAGE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">7.7&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">16.0&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>FUMBLES-LOST</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("fumbles_no", true).to_i%>-<%=get_stats("fumbles_lost", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("fumbles_no", false).to_i%>-<%=get_stats("fumbles_lost", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>PENALTIES-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("penalties_no", true).to_i%>-<%=get_stats("penalties_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("penalties_no", false).to_i%>-<%=get_stats("penalties_yds", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Game&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">39.1&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">49.9&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>PUNTS-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("punt_no", true).to_i%>-<%=get_stats("punt_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("punt_no", false).to_i%>-<%=get_stats("punt_yds", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Punt&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">48.2&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">42.1&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Net punt average&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("punt_avg", true)%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("punt_avg", false)%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>KICKOFFS-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("ko_no", true).to_i%>-<%=get_stats("ko_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("ko_no", false).to_i%>-<%=get_stats("ko_yds", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Average Per Kick&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">54.8&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">53.2&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Net kick average&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">37.3&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">40.0&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>TIME OF POSSESSION/Game</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"> 30:35&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"> 29:25&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>3RD-DOWN Conversions</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("conversions_thirdconv", true).to_i%>/<%=get_stats("conversions_thirdatt", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("conversions_thirdconv", false).to_i%>/<%=get_stats("conversions_thirdatt", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  3rd-Down Pct&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">40%&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">49%&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>4TH-DOWN Conversions</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("conversions_fourthconv", true).to_i%>/<%=get_stats("conversions_fourthatt", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("conversions_fourthconv", false).to_i%>/<%=get_stats("conversions_fourthatt", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  4th-Down Pct&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">61%&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">78%&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>SACKS BY-Yards</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">13-67&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">25-156&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>MISC YARDS</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("misc_yds", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("misc_yds", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>TOUCHDOWNS SCORED</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("scoring_td", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("scoring_td", false).to_i%>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>FIELD GOALS-ATTEMPTS</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("fg_made", true).to_i%>-<%=get_stats("fg_att", true).to_i%>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000"><%=get_stats("fg_made", false).to_i%>-<%=get_stats("fg_att", false).to_i%>&nbsp;</td>
</tr>
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>ON-SIDE KICKS</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">0-3&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">0-0&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>RED-ZONE SCORES</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">(32-37) 86%&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">(40-49) 82%&nbsp;</td>
</tr> -->
<!--<tr bgcolor="#ffffff">
 <td align=left><font face=verdana size=1 color="#000000"><b>RED-ZONE TOUCHDOWNS</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">(25-37) 68%&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">(27-49) 55%&nbsp;</td>
</tr> -->
<tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>PAT-ATTEMPTS</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">(<%=get_stats("pat_kickatt", true).to_i + get_stats("pat_passatt", true).to_i + get_stats("pat_rcvatt", true).to_i%>-<%=get_stats("pat_kickmade", true).to_i + get_stats("pat_passmade", true).to_i + get_stats("pat_rcvmade", true).to_i%>) 85%&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">(<%=get_stats("pat_kickatt", false).to_i + get_stats("pat_passatt", false).to_i + get_stats("pat_rcvatt", false).to_i%>-<%=get_stats("pat_kickmade", false).to_i + get_stats("pat_passmade", false).to_i + get_stats("pat_rcvmade", false).to_i%>) 93%&nbsp;</td>
</tr> 
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000"><b>ATTENDANCE</b>&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">99691&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">162034&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Games/Avg Per Game&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">6/16615&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">6/27006&nbsp;</td>
</tr> -->
<!-- <tr bgcolor="#ffffff">
<td align=left><font face=verdana size=1 color="#000000">&nbsp;&nbsp;  Neutral Site Games&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">&nbsp;</td>
<td align=center><font face=verdana size=1 color="#000000">0/0&nbsp;</td>
</tr> -->
</table></center>
<% end %>