= content_for(:title, "Games")
%br/
.center
  %p
    %h3 All Games

.panel.panel-default
  .panel-heading
    %font{:style=>"font-size: 1.77em; margin: 0.83em;"}All Games
    %a{:href=>games_refresh_path, :method=>:post}
      %ion-icon{:name=>"refresh-circle"}
  .panel-body
    .row
      .col-md-12.col-md-offset-0
        %table.table.table-hover#all-games
          %thead
            %tr
              %th Game
              %th Date
              %th Home Team
              %th Visiting Team
              %th Status
              %th Play Now?
              %th More Info
          %tbody
            - @games.each do |game|
              %tr
                %td= game.game_name 
                %td= game.date
                %td
                  - home_logo_name = game.hometeam.downcase + "logo"
                  = image_tag(home_logo_name + ".png", alt: home_logo_name, style:"height:50px")
                  &nbsp;
                  = game.hometeam
                %td
                  - vis_logo_name = game.visteam.downcase + "logo"
                  = image_tag(vis_logo_name + ".png", alt: vis_logo_name, style:"height:50px")
                  &nbsp;
                  = game.visteam
                %td= get_state(game)
                %td
                  - if game.ongoing?
                    = link_to 'Play!'.html_safe, user_game_join_path(current_user, game), :method => :post, class: "btn btn-primary maroon"
                  - elsif game.upcoming?
                    Wait ..
                  - elsif played?(current_user, game)
                    = link_to 'Check play history'.html_safe, user_game_play_path(current_user, game), class: "btn btn-primary maroon"
                %td= link_to "More about", game_path(game), class: "btn btn-primary maroon"
