= content_for(:title, "Score Board")

%h2 Score Board

.row
  .col-md-10.col-md-offset-1
    %table.table{:border => 2}
      %thead
        %tr
          %th Game
          %th Date
          %th Instant Winner
          %th Whoop Winner
          - if admin_user?
            %th Send Email?
      %tbody
        - @games.each do |game|
          %tr
            %td= game.game_name 
            %td= game.date
            %td
              - if instant_winner?(game) 
                = instant_winner(game).name
            %td 
              - if whoop_winner?(game)
                = whoop_winner(game).name
            - if admin_user? 
              %td= button_to 'Send', send_email_path(:whoop_winner_id => whoop_winner(game).id)