<h2> Congratulations!</h2>

<table class="games">

<thead>
<tr>
  <th>Game</th>
  <th>Date</th>
  <th>Instant Winner</th>
  <th>Whoop Winner</th>
  <% if admin_user? %>
      <th>Send Email?</th>
  <% end %>
</tr>
</thead>

<tbody>

<% @games.each do |game| %>
<tr>

  <td><%= game.game_name%></td>
  <td><%= game.date.to_date%></td>
  
  <td>
  <%if instant_winner?(game) %>
  <%= instant_winner(game).name %>
  <%end%>
  </td>

  <td>
  <%if whoop_winner?(game) %>
  <%= whoop_winner(game).name %>
  <%end%>
  </td>
  <% if admin_user? %>
      <td>
      <%if whoop_winner?(game) %>
        <%= button_to 'Send', send_email_path(:whoop_winner_id => whoop_winner(game).id) %>
          <%end%>

      </td>
  <% end %>
</tr>
<% end %>

</tbody>
</table>
